@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: #EFF5F5;
}


.container {
    max-width: 1314px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* Nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 19px;
}

.nav__menu {
    display: flex;
    align-items: center;
}


.nav__list {
    display: flex;
}

.nav__list_link a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #626262;
}

.nav__list_link:not(:last-child) {
    margin-right: 25px;
}

.nav__list_link:last-child {
    margin-right: 40px;
}

.btn {
    padding: 9px 39px;
    background: #FFFFFF;
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
    border-radius: 6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #323232;
    transition: ease-in-out 0.3s;
}

.btn:hover {
    box-shadow: 0px 13px 20px -10px rgba(0, 71, 184, 0.49);
}

/* Nav */
/* Header content */
.header__content {
    position: relative;
}

.header__content_bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    width: 100%;
}

.header__content_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 698px;
}

.header__content_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #323232;
    max-width: 530px;
}

.header__content_links {
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #EAEAEA;
    box-shadow: 0px 59px 30px -40px rgba(0, 133, 255, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    max-width: 635px;
    width: 100%;
    padding: 27px 0;
    margin: 0 auto;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Header content */
/* Main */
/* Course */
.course {
    padding-top: 119px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.course__right {
    max-width: 642px;
    width: 100%;
}

.course__right_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #626262;
}

.couse__right_box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}

.right__box_item {
    background: #FFFFFF;
    box-shadow: 0px 30px 30px -15px rgba(0, 133, 255, 0.1);
    border-radius: 13px;
    display: flex;
    width: 100%;
    max-width: 306px;
    padding: 15px;
}

.right__box_txt {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #323232;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.line {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: 17px;
    margin-right: 12px;
}

.line::after,
.line::before {
    content: '';
    display: block;
    width: 43px;
    height: 1px;
    background: #626262;
}

.box__txt_span {
    font-weight: 400;
    margin-left: 8px;
}

/* Course */
/* Best */

.best {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.best__right_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #626262;
}

.best__right_subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #626262;
    margin-bottom: 30px;
    margin-top: 12px;
}

.best__right_subtitle span {
    font-weight: 700;
}

.best__right_price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #626262;
    margin-bottom: 20px;
}

.best__right_price span {
    margin-left: 30px;
}

.best__right_btn {
    margin-left: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #626262;
}

/* Best */
/* offer */
.offer {
    padding: 50px 0;
}

.offer__inner {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.offer__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #626262;
    text-align: center;
}

.offer__card {
    max-width: 642px;
    background: #BDC4FF;
    box-shadow: 0px 40px 30px -25px rgba(189, 196, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 220px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.offer__card::after {
    content: 'Хит';
    display: block;
    position: absolute;
    padding: 3px 17px;
    background: rgba(255, 255, 255, 0.4);
    border: 0.5px solid rgba(215, 215, 215, 0.3);
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    border-radius: 4px;
    top: 0;
    left: 23px;
    transform: translateY(-50%);
}

.offer__card:first-child {
    background: #BDC4FF;
    box-shadow: 0px 40px 30px -25px rgba(189, 196, 255, 0.5);
}

.offer__card:last-child {
    background: #FFD280;
    box-shadow: 0px 40px 30px -25px rgba(255, 210, 128, 0.4);
    border-radius: 10px;
}

.offer__card_desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.offer__card_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #626262;
}

.offer__card_txt {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #323232;
    max-width: 400px;
}

.offer__card_span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #323232;
}

.offer__btn {
    background: #FFFFFF;
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
    border-radius: 6px;
    display: block;
    width: 194px;
    height: 38px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

.offer__card_btn {
    padding: 9px 54px 9px 60px;
}

/* offer */
/* application */
.application__inner {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.application__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #626262;
    text-align: center;
    margin-bottom: 30px;
}

.application__inner_left {
    background: #97EAB9;
    box-shadow: 0px 40px 30px -25px rgba(151, 234, 185, 0.4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 642px;
    width: 100%;
}

.application__inner_left h3 {
    padding: 25px 0;
}

.application__inner_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #626262;
}

.application__inner_right {
    max-width: 642px;
    width: 100%;
}

.application__inner_right-item {
    background: #FFC1BD;
    box-shadow: 0px 25px 30px -20px rgba(255, 193, 189, 0.5);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 65px;
    padding: 49px 35px;
}

.application__inner_right-item:last-child {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 65px;
    margin-top: 42px;
    padding: 38px 64px;
    background: #C1B7FF;
    box-shadow: 0px 25px 30px -25px rgba(193, 183, 255, 0.4);
    border-radius: 10px;
}

.application__links {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 30px;
    flex-wrap: wrap;
}

.application__link {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.application__link:first-child {
    width: 360px;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
    border-radius: 12px;
}

.application__link:last-child {
    width: 360px;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
    border-radius: 12px;
}

/* application */


/* Main */
/* Footer */
.footer {
    margin-top: 100px;
    padding-bottom: 25px;
}

.footer__content {
    display: flex;
    justify-content: center;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__logo img {
    width: 244px;
    height: 100px;
}

.footer__txt {
    max-width: 305px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #626262;
    text-align: center;
    margin-left: 30px;
}


/* Footer */